
<div class="inputForm">
    <div class="logo">
        <img src="/images/greenwheels-logo-2020.png" alt="logo" />
    </div>
    <div class="centerMiddel" style="min-height: 150px;">
        <a download href="/downloads/greenwheels.apk" class="download-btn">Download the App</a>
    </div>
</div>